*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}



header{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgb(114, 176, 247);
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.headerpic{
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 40px;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 221, 247);
    bottom: 0;
}
.midPic{
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 20px;
    padding: 40px;
}
.navBar a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.navBar a:hover {
    background-color: bisque;
    border-radius: 40px;
    border-top: 20px;

}
.main-words{
    display: flex;
    align-items: center;
    flex: 3;
    padding: 60px;
    font-family:Arial, Helvetica, sans-serif;
}
.main-image{
    display: flex;
    flex: 1;
    height: 400px;
    padding: 40px;
    border-radius: 30%;
}
.main-content{
    display: flex;
}
.middle-content{
    margin: 0;
    background-color: rgb(183, 233, 248);
}
.sample-house{
    display: flex;
    display: grid;
    padding: 30px;
}
.anothercontent{
    align-items: center;
    padding: 40px;
    background-color: rgb(206, 232, 236);
    font-family:Arial, Helvetica, sans-serif;
}
.samplePic{
    border-radius: 30px;
}
.samplePic:hover{
    transform: scale(1.2);
}
.pictwo{
    display: flex;
    flex: 1;
}
.second{
    padding: 40px;
}
.asidetwo{
    padding: 40px;
    flex: 3;
    font-family:Arial, Helvetica, sans-serif;
}

.house{
    border-radius: 30px;
}

.house:hover{
    transform: scale(1.2);
}

html{
    scroll-behavior: smooth;
}
